h1 {
  /* Màu chữ */
  color: rgb(225, 9, 9);
  /*kiểu chữ */
  font-style: italic;
  /*font chữ  */
  font-family: "Times New Roman", Times, serif;
  /* Chuyển đổi viết hoa viết thường */
  text-transform: uppercase;
  /* Căn giữa */
  text-align: center;
  /* Cỡ chữ */
  font-size: 28px;
  /* Độ trong suốt */
  opacity: 1;
  /* Ẩn đi hẳn giống kiểu xóa đi biêns mất */
  /* display: none; */
}

/* Thẻ class */
#doan_van2 {
  color: blueviolet;
}

/* Thẻ id */
.demo {
  color: blue;
}

.demo2 {
  font-size: 40px;
}

/* Tác dụng lên khi ấn chuột qua */
.chuot:hover {
  color: red;
  font-size: 30px;
}

#chuot1:hover {
  color: brown;
  font-size: 30px;
}

/* Tác dụng khi giữ chuột */
.click:active {
  color: blue;
  font-size: 30px;
}

/* Khi chưa click vào */
.click_1:link {
  color: rgb(250, 10, 10);
}

/* Sau khi đã truy cập vào */
.click_1:visited {
  color: rgb(15, 200, 129);
}

/* Khối hộp */
div {
  width: 100px;
  height: 100px;
  color: yellow;
  background-color: brown;
  /* Trên - Phải - Dưới - Trái */
  padding: 20px 30px 40px 50px;

  /* padding: 20px; Tất cả 4 cạnh */
  /* Tương tự như top left right bottom */

  /* Viền ở 4 hướng và vó thể tuỳ chỉnh được như padding */
  border: 10px solid blue;

  /* Bo góc */
  /* Trên trái phải dưới phải trái */
  border-radius: 20px 30px 40px 50px;
}
